.userProfile{
  margin: 5vh 0 5vh 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.userAvatar {
  padding-left: 1vw;
  width: 18vw;
  height: 42vh;
}
.bnt{
  overflow: hidden;
  padding: 0.3vh;
  border-radius: 1vw;
  color: #fff;
  background-color: #4976A8;
  cursor: pointer;
  margin-bottom:  1vh;

}
.userAvatar img {
  width: 100%;
  height:  100%;
  border-radius: 2vw;
}

 .userInfo{
  width: 34vw;
  margin-left: 2vw;
  line-height: 1.6vw;
}
 .userInfo h3 {
   font-size: 1.50vw;
   padding-bottom: 1vh;
 }
.status{
  font-style: italic;
  font-weight: 600;
}
