.container{
  display: block;
  width: 100%;
}
.wall{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wall span{
  margin-top: 5vh;
  background-color: #edeef0;
}
.wall h4{
  padding: 0.7vh;
  width: 100%;
  margin-left: 8vw;
}
.wall textarea{
  font-size: 1.25vw;
  background-color: #e9e9e9;
  margin: 1vh 20vh;
  padding: 0.6vh;
}
.wall button{
  overflow: hidden;
  width: 13vw;
  height: 6vh;
  margin: 2vh 0 0 70% ;
  color: #fff;
  background-color: #4976A8;
  cursor: pointer;
  border-radius: 1vw;
}

.wallPost{
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 10vh;
}
