*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  }

body{
  background-color: #edeef0;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 0.95vw;
}
.appWrapper{
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 7.3vh 1fr;
  grid-template-columns: 16% 84% ;

}
.content{
  grid-area: c;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  width: 80%;
}
