
.newMessageblock{
  height: 27%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
.textareawr{
  width: 100%;
}
.sendMessage{
  margin: 0.5vh 2vw 0 2vw;
  padding: 0.5vh 1vw;
  border: none;
  font-size: 1.1vw;
  font-weight: 300;
  font-style: italic;
}
.btnwr{
display: flex;
justify-content: flex-end;
padding-right: 1vw;

}
.sendMessageBtn{
  width: 13%;
  margin: 0;
  padding: 0;
  background-color: #4976A8;
  font-size: 0.7vw;
}
